#userButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    background: #37474f !important;
}

#userNameDisplay {
    color: white;
    font-size: 16px;
    margin-right: 12px;
}

#currentUserDisplay {
    padding: 16px;
    display: flex;
    flex-direction: row;
    background: #eee;
    margin-top: -8px; /* Removes spacing above */
}

#currentUserDisplay .avatar {
    margin-right: 16px;
}

#userFullName {
    font-weight: bold;
}

#userEmail {
    color: #444;
}

#userDetails {
    min-width: 240px;
}