#falcon-logo,
#page-title {
    display: inline-block;
    font-size: 20px;
}

#falcon-logo {
    font-weight: 600;
    font-family: "Raleway", serif;
}

#page-title {
    margin-left: 4px;
    font-weight: 300;
}

#app-bar-hamburger {
    margin-left: -20px;
}