#pageTitle {
    margin-right: auto;
}

#falconLogo,
#pageName {
    display: inline-block;
    font-size: 20px;
}

#falconLogo {
    font-weight: 600;
    font-family: "Raleway", serif;
}

#pageName {
    margin-left: 4px;
    font-weight: 300;
}

#hamburger {
    margin-left: -20px;
}

#appBar {
    transition: 200ms;
}

#toolbar {
    display: flex;
}
