/*#app-bar-title > * {*/
    /*line-height: 20px;*/
/*}*/

/*#falcon-logo {*/
    /*margin-top: auto;*/
/*}*/

/*#page-title {*/
    /*font-weight: 200;*/
    /*font-size: 20px;*/
/*}*/

/*#falcon-logo {*/
    /*font-weight: 800;*/
/*}*/

/*#module-menu {*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/

#falcon-logo,
#page-title {
    display: inline-block;
    font-size: 20px;
}

#falcon-logo {
    font-weight: 600;
    font-family: "Raleway", serif;
}

#page-title {
    margin-left: 4px;
    font-weight: 300;
}

#app-bar-hamburger {
    margin-left: -20px;
}